
{% extends "dashboard.html" %}
{% set title=" Partner " %}

{% set breadcrumbs = [
	{'link':'#','text':res.string.partner  }]
%}
{% block content %}
	<div class="">
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">{{res.string.partner}}</h3>
						<a href="/index.php/manage_partners/create" class="btn btn-primary pull-right">{{res.string.new_data}}</a>
						<div class="clearfix"></div>
					</div>
					<div class="box-body">
						<p class="text-muted font-13 m-b-30"></p>
							<table data-table data-controller="manage_partners" class="table table-striped table-hover " id="table_Partner">
		<thead>
			<tr>
				<th data-fieldname="id_number">{{res.string.id_number}}</th>
				<th data-fieldname="id_type">{{res.string.id_type}}</th>
				<th data-fieldname="name">{{res.string.name}}</th>
				<th data-fieldname="email">{{res.string.email}}</th>
				<th data-fieldname="phone">{{res.string.phone}}</th>
				<th data-fieldname="website">{{res.string.website}}</th>
				<th data-fieldname="image">{{res.string.image}}</th>
				<th data-fieldname="address">{{res.string.address}}</th>
				<th data-fieldname="remark">{{res.string.remark}}</th>
				<th data-fieldname="company_id">{{res.string.company_id}}</th>
				<th data-fieldname="active">{{res.string.active}}</th>
				<th data-fieldname="class_key">{{res.string.class_key}}</th>
				<th></th>
			</tr>
		</thead>
</table>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
{% block bottom %}
{% endblock %}
