 {% extends "dashboard.html" %} {% set title=" Configuration " %} {% set breadcrumbs = [ {'link':'#','text':res.string.configuration }] %} {% block content %}
<div class="">
	<div class="clearfix"></div>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">{{res.string.configuration}}</h3>
					<div class="clearfix"></div>
				</div>
				<div class="box-body">
					<p class="text-muted font-13 m-b-30"></p>
					<table data-table data-controller="back/admin/manage_configurations" class="table table-striped table-hover " id="table_Configuration">
						<thead>
							<tr>
								<th data-fieldname="name">{{res.string.name}}</th>
								<th data-fieldname="description">{{res.string.description}}</th>
								<th></th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">{{res.string.email_configurations}}</h3>
          <a href="/back/admin/manage_configurations/configure_email" class="btn btn-default pull-right"><i class="fa fa-pencil"></i> {{res.string.edit}}</a>
          <div class="clearfix"></div>
        </div>
  		</div>
  	</div>
  </div>
</div>

{% endblock %} {% block bottom %} {% endblock %}
