 {% extends "dashboard.html" %} {% set title=" Tower " %} {% set breadcrumbs = [ {'link':'#','text':res.string.tower }] %} {% block content %}
<div class="">
	<div class="clearfix"></div>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">{{res.string.tower}}</h3> {% include "common/_list_menu.html"%}
					<div class="clearfix"></div>
				</div>
				<div class="box-body">
					<p class="text-muted font-13 m-b-30"></p>
					<table data-table data-controller="back/admin/manage_towers" class="table table-striped table-hover " id="table_Tower">
						<thead>
							<tr>
								<th data-fieldname="name">{{res.string.name}}</th>
								<th data-fieldname="longitude">{{res.string.longitude}}</th>
								<th data-fieldname="latitude">{{res.string.latitude}}</th>
								<th data-fieldname="height">{{res.string.height}}</th>
								<th data-fieldname="location">{{res.string.location}}</th>
								<th data-fieldname="partner_id">{{res.string.partner_id}}</th>
								<th data-fieldname="land_owner">{{res.string.land_owner}}</th>
								<th data-fieldname="status">{{res.string.status}}</th>
								<th></th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %} {% block bottom %} {% endblock %}
