
{% extends "dashboard.html" %}
{% set title=" Tower Rec Submission " %}

{% set breadcrumbs = [
	{'link':'#','text':res.string.towerrecsubmission }]
%}
{% block content %}
	<div class="">
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">{{res.string.towerrecsubmission}}</h3>
						<div class="clearfix"></div>
					</div>
					<div class="box-body">
						<p class="text-muted font-13 m-b-30"></p>
							<table data-table data-controller="back/admin/manage_towerrecsubmissions" class="table table-striped table-hover " id="table_TowerRecSubmission">
		<thead>
			<tr>
				<th data-fieldname="name">{{res.string.code}}</th>
				<th data-fieldname="company">{{res.string.company}}</th>
				<th data-fieldname="longitude">{{res.string.longitude}}</th>
				<th data-fieldname="latitude">{{res.string.latitude}}</th>
				<th data-fieldname="location">{{res.string.location}}</th>
				<th></th>
			</tr>
		</thead>
</table>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
{% block bottom %}
{% endblock %}
