
{% extends "dashboard.html" %}
{% set title=" Cell Plan " %}

{% set breadcrumbs = [
	{'link':'#','text':res.string.cellplan  }]
%}
{% block content %}
	<div class="">
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">{{res.string.cellplan}}</h3>

					{% include "common/_list_menu.html" with
					{'menu_import':true} %}
					<div class="clearfix"></div>
					</div>
					<div class="box-body">
						<p class="text-muted font-13 m-b-30"></p>
							<table data-table data-controller="back/admin/manage_cellplans" class="table table-striped table-hover " id="table_CellPlan">
								<thead>
									<tr>
										<th data-fieldname="name">{{res.string.name}}</th>
										<th data-fieldname="longitude">{{res.string.longitude}}</th>
										<th data-fieldname="latitude">{{res.string.latitude}}</th>
										<th data-fieldname="status">{{res.string.status}}</th>
										<th></th>
									</tr>
								</thead>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
{% block bottom %}
<script>

</script>
{% endblock %}
