
{% extends "dashboard.html" %}
{% set title=" User " %}

{% set breadcrumbs = [
	{'link':'#','text':res.string.user  }]
%}
{% block content %}
	<div class="">
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">{{res.string.user}}</h3>

					{% include "common/_list_menu.html"%}
					<div class="clearfix"></div>
					</div>
					<div class="box-body">
						<p class="text-muted font-13 m-b-30"></p>
							<table data-table data-controller="back/admin/manage_users" class="table table-striped table-hover " id="table_User">
								<thead>
									<tr>
										<th data-fieldname="name">{{res.string.name}}</th>
										<th data-fieldname="last_login">{{res.string.last_login}}</th>
										<th></th>
									</tr>
								</thead>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
{% block bottom %}
{% endblock %}
