 {% extends "dashboard.html" %} {% set title=" Applicant " %} {% set breadcrumbs = [ {'link':'#','text':res.string.applicant }] %} {% block content %}
<div class="">
	<div class="clearfix"></div>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">{{res.string.applicant}}</h3>
					<div class="clearfix"></div>
				</div>
				<div class="box-body">
					<p class="text-muted font-13 m-b-30"></p>
					<table data-table data-controller="back/admin/manage_applicants" class="table table-striped table-hover " id="table_Applicant">
						<thead>
							<tr>
								<th data-fieldname="name">{{res.string.name}}</th>
								<th data-fieldname="email">{{res.string.email}}</th>
								<th data-fieldname="id_number">{{res.string.id_number}}</th>
								<th data-fieldname="gender">{{res.string.gender}}</th>
								<th data-fieldname="position">{{res.string.position}}</th>
								<th data-fieldname="company">{{res.string.company}}</th>
								<th></th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %} {% block bottom %} {% endblock %}
